.weather-app {
  border: #eed675 solid 2px;
  border-radius: 5px;
  padding: 20px;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 6px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #878787;
  display: block;
  line-height: 28.8px;
  margin-bottom: 0;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: 16px;
  font-weight: 100;
  color: #878787;
  margin-left: 0;
  line-height: 18.6px;
}

li:first-letter {
  text-transform: capitalize;
}

#temperature {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  font-size: 64px;
  color: #202124;
  font-style: normal;
  font-stretch: 100%;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  float: left;
  padding-left: 10px;
}

.weather-temperature .units {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 15px;
  float: left;
}

#fahrenheit-link {
  text-decoration: none;
}

#celsius-link {
  text-decoration: none;
}

.units .active {
  color: #202124;
  cursor: default;
}

#wind-unit {
  text-transform: lowercase;
  color: blue;
}

#city-input {
  padding: 5px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: 878787;
  border-radius: 5px;
  border: #878787 solid 1px;
}

#submit-city {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 4px 3px 4px;
  border-radius: 5px;
  border: #878787 solid 1px;
  margin-left: 10px;
  color: #878787;
}

#submit-city:hover {
  background-color: #eed675;
}

#weather-forecast {
  font-family: Arial, Helvetica, sans-serif;
  size: 16px;
  color: #bababa;
  font-weight: 400;
  line-height: 15px;
  padding-top: 7px;
  text-align: center;
}

.weather-forecast-temperature {
  font-family: Arial, Helvetica, sans-serif;
  size: 14px;
}
